@import "../../../assets/scss/app.scss";

.secondBlock {
  padding: 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 12px 26px rgba(30, 33, 85, 0.04);
  border-radius: 16px;

  @include desktop() {
    padding: 24px;
  }

  .field {
    border: 1px solid rgba(13, 13, 61, 0.1);
    border-radius: 8px;
    padding: 12px;

    @include desktop() {
      padding: 20px;
    }

  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      border: none;
      outline: none;
      background: none;
      @include CenturyGothicRegular();
      font-size: 14px;
      line-height: 20px;
      //opacity: 0.5;

      @include desktop() {
        font-size: 16px;
      }

      &::placeholder {
        @include CenturyGothicRegular();
        font-size: 14px;
        line-height: 20px;
        opacity: 0.5;

        @include desktop() {
          font-size: 16px;
        }

      }
    }

    .input {
      border: none;
      outline: none;
      background: none;
      @include CenturyGothicRegular();
      font-size: 14px;
      line-height: 20px;
      @include desktop() {
        font-size: 16px;
      }

    }

    .right {
      @include CenturyGothicBold();
      font-size: 14px;
      line-height: 20px;

      @include desktop() {
        font-size: 16px;
      }

      .green {
        color: #67F6C0;
      }

    }
  }

  .secondField {
    margin-top: 10px;

    @include desktop() {
      margin-top: 20px;
    }

    .topRow {
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(13, 13, 61, 0.1);;
    }
  }

  .titleField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @include desktop() {
      margin-top: 24px;
    }

    p {
      user-select: none;
    }

    p:nth-child(1) {
      @include HessGothic();
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.01em;

      @include desktop() {
        font-size: 24px;
        line-height: 30px;
      }
    }

    p:nth-child(2) {
      @include CenturyGothicRegular();
      font-size: 14px;
      line-height: 20px;

      @include desktop() {
        font-size: 16px;
      }
    }
  }

  .numberField {
    background: #FFF;
    box-sizing: border-box;
    margin-top: 12px;
    overflow: hidden;

    @include desktop() {
      margin-top: 16px;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-radius: 8px 8px 0 0;
      border: 1px solid rgba(13, 13, 61, 0.1);

      @include desktop() {
        padding: 20px;
      }

      .number {
        border: none;
        background: none;
        outline: none;
        @include CenturyGothicBold();
        font-size: 14px;
        line-height: 20px;

        @include desktop() {
          font-size: 16px;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }


      }

      .right {
        display: flex;
        align-items: center;

        p {
          @include CenturyGothicBold();
          font-size: 14px;
          line-height: 20px;
          color: #67F6C0;

          @include desktop() {
            font-size: 16px;
          }
        }

        .arrow_buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 12px;

          @include desktop() {
            margin-left: 20px;
          }

          .btn {
            cursor: pointer;
            border: none;
            background: none;
            outline: none;
          }

        }


      }


    }

    .bottom {
      padding: 14px 0;
      background: #67F6C0;
      @include CenturyGothicBold();
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      border-radius: 0 0 8px 8px;
      user-select: none;
    }
  }

}