@import "../../../assets/scss/app.scss";

.userBlock {
  background: #FFF;
  box-shadow: 0 12px 26px rgba(30, 33, 85, 0.04);
  border-radius: 16px;
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop() {
    padding: 8px 12px;
    justify-content: flex-start;
  }

  .left {
    display: flex;
    align-items: center;

    .user {
      background: #0D0D3D;
      border-radius: 8px;
      @include center();
      width: 48px;
      height: 48px;

      @include desktop() {
        width: 64px;
        height: 64px;
      }
    }

    p {
      margin-left: 8px;
      @include CenturyGothicRegular();
      font-size: 14px;
      line-height: 20px;
      width: 177px;

      @include desktop() {
        font-size: 20px;
        line-height: 26px;
        margin-left: 24px;
        width: auto;
      }
    }
  }

  .copy {
    width: 20px;
    height: 20px;

    @include desktop() {
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }
}