* {
  margin: 0;
  padding: 0;
  color: #0D0D3D;
}

/*@font-face {*/
/*  font-family: 'Century Gothic Regular';*/
/*  font-style: normal;*/
/*  font-weight: normal;*/
/*  src: local('Century Gothic Regular'), url(./assets/fonts/centurygothic.ttf) format('ttf');*/
/*}*/

/*@font-face {*/
/*  font-family: 'Century Gothic Bold';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  src: local('Century Gothic Bold'), url(./assets/fonts/centurygothic_bold.ttf) format('ttf');*/
/*}*/

/*@font-face {*/
/*  font-family: 'Hess Gothic';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  src: local('Hess Gothic'), url(./assets/fonts/HessGothicRoundNFW01Bold.ttf) format('truetype');*/
/*}*/

@font-face {
  font-family: 'Century Gothic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Century Gothic Regular'), url(./assets/fonts/centurygothic.woff2) format('woff2');
}

@font-face {
  font-family: 'Century Gothic Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Century Gothic Bold'), url(./assets/fonts/centurygothic_bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Hess Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Hess Gothic'), url(./assets/fonts/HessGothicRoundNFW01Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova'), url(./assets/fonts/proximanova_regular.ttf) format('truetype');
}
